#btn{
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
    font-style: normal;
    transition: 2s;
    text-align: center;
    border-radius: 20px
}
#btn:hover{
    background-color: brown;
    color: white;
    cursor: pointer;
    transition: 2.5s;
    transform: rotate(10deg);
}
.main{
    text-align: center;
}
h1{
    color: crimson;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}